:root {
    --primary-bg: #101F2D;
    --dark-bg: #0C1822;
    --secondary-bg: #223546;
    --text-primary: #D5E2E0;
    --text-higlight: #A7E830;
    --text-focus: #FFFFFF;
}

html, body {
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg); /* Page background */
    color: var(--text-primary);
}

main {
    flex: 1; /* Main expands and pushes the footer to the bottom if content is small */
}

/* Dark boxes Styles */
.custom-navbar, .custom-footer, .table thead th, .card {
    background-color: var(--dark-bg) !important; /* Header background */
}

/* Optimized Header/Navbar */
.custom-navbar {
    background-color: var(--dark-bg); /* Navbar background color */
}

.custom-navbar .navbar-brand {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.custom-navbar .navbar-logo {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

.custom-navbar .nav-link {
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.custom-navbar .nav-link:hover {
    color: var(--text-focus);
    font-weight: bold;
}

/* Navbar Toggler */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    background-color: var(--dark-bg); /* Footer background color */
    color: var(--text-primary);
}

/* Card Styles */
.card {
    border: none;
}

/* Table Styles */
@media (max-width: 768px) {
    .table {
        margin-bottom: 20px;
    }
}

.table th {
    background-color: var(--secondary-bg); /* Header background */
    color: var(--text-focus); /* Header text color */
}

.table td {
    vertical-align: middle;
    color: var(--text-primary); /* Table text color */
}

.table-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

/* Buttons */
.btn-primary {
    background-color: var(--text-primary); /* Highlight color */
    color: var(--dark-bg); /* Contrast text */
}

.btn-primary:hover {
    background-color: var(--secondary-bg); /* Highlight color */
    color: var(--text-focus); /* Contrast text */
}

.btn-secondary:hover {
    background-color: var(--secondary-bg); /* Secondary background */
    color: var(--text-focus); /* Focus text */
}

/* Charts */
@media (max-width: 768px) {
    .chart-box, .gauge-box {
        height: 120px;
        width: 100%;
    }
}

.rotated-text {
    writing-mode: vertical-rl; /* Rotates text to read top-to-bottom */
    transform: rotate(180deg); /* Ensures text is not upside down */
    font-size: 0.9rem; /* Adjust the size to fit nicely */
    color: var(--text-primary); 
    margin-right: 10px; /* Space between the rotated text and the number */
    line-height: 1.5; /* Better vertical spacing */
}

/* Gauge Box Placeholder */
.gauge-box {
    height: 200px;
    width: 100%;
    background-color: var(--primary-bg); /* Dark background for gauge area */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-higlight); /* Highlight color for value */
}

/* Station Data */

/* Station Status Box */
.status-box {
    background-color: var(--secondary-bg); /* Dark blue background */
    display: inline-block;
}

/* Placeholder Image Box */
.image-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--text-primary); /* Light background for placeholder */
    color: var(--secondary-bg); /* Muted text color */
    font-size: 0.9rem;
}
